# Enable pycodestyle (`E`) and Pyflakes (`F`) codes by default.
lint.select = ["C", "D", "E", "F", "W"]

# Ignores:
# E501: Line length
lint.ignore = [
    "C417", # Ignored waiting evaluation
    "D203", # Blocked in favour of D211
    "D204", # Block due to blank line after class definition not required
    "D213", # Blocked in favour of D212
    "D400", # Blocked in favour of D415
    "D406", # Blocked in favour of section ends with colon
    "D407", # Section dashes provides no value
    "D212", # Multi-line docstring summary should start at the first line
    "D413", # Missing blank line after last section
    ]

# Allow autofix for all enabled rules (when `--fix`) is provided.
lint.fixable = ["A", "B", "C", "D", "E", "F", "G", "I", "N", "Q", "S", "T", "W", "ANN", "ARG", "BLE", "COM", "DJ", "DTZ", "EM", "ERA", "EXE", "FBT", "ICN", "INP", "ISC", "NPY", "PD", "PGH", "PIE", "PL", "PT", "PTH", "PYI", "RET", "RSE", "RUF", "SIM", "SLF", "TCH", "TID", "TRY", "UP", "YTT"]
lint.unfixable = []

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".venv",
    "__pypackages__",
    "_build",
    "build",
    "dist",
    "venv",
]
lint.per-file-ignores = {}

line-length = 120

# Assume Python 3.12.
target-version = "py312"

[lint.mccabe]
# Unlike Flake8, default to a complexity level of 10.
max-complexity = 10